<div mat-dialog-title>
  <h1>Employee Form</h1>
</div>
<form [formGroup]="empForm" (ngSubmit)="onFormSubmit()">
  <div mat-dialog-content class="content">
      <div class="row">
          <mat-form-field appearance="outline">
              <mat-label>First name</mat-label>
              <input matInput type="text" placeholder="Jan" formControlName="firstName">
          </mat-form-field>
          <mat-form-field appearance="outline">
              <mat-label>Last Name</mat-label>
              <input matInput placeholder="Kowalski" formControlName="lastName">
          </mat-form-field>
      </div>

      <div class="row">
          <mat-form-field appearance="outline">
              <mat-label>Email</mat-label>
              <input matInput type="email" placeholder="Ex. jan.kowalski@gmail.com" formControlName="email">
          </mat-form-field>
          <mat-form-field appearance="outline">
              <mat-label>Date of birth</mat-label>
              <input matInput [matDatepicker]="picker" formControlName="dob">
              <mat-hint>MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
      </div>

      <div class="row">
          <mat-radio-group aria-label="Select an option" formControlName="gender">
              <mat-label><b>Gender</b></mat-label>
              <mat-radio-button value="male">Male</mat-radio-button>
              <mat-radio-button value="female">Female</mat-radio-button>
              <mat-radio-button value="others">Others</mat-radio-button>
          </mat-radio-group>
      </div>

      <div class="row">
          <mat-form-field appearance="outline">
            <mat-label>Education</mat-label>
            <input matInput placeholder="Ex. Gdynia Maritime Academy" formControlName="education">
          </mat-form-field>
          <mat-form-field appearance="outline">
              <mat-label>Company</mat-label>
              <input matInput placeholder="Ex. Google" formControlName="company">
          </mat-form-field>
      </div>
      <div class="row">
          <mat-form-field appearance="outline">
              <mat-label>Address type</mat-label>
              <input matInput placeholder="Ex. Home" formControlName="addressType">
          </mat-form-field>
          <mat-form-field appearance="outline">
              <mat-label>Street name</mat-label>
              <input matInput placeholder="Ex. Bratków"  formControlName="street">
          </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field appearance="outline">
            <mat-label>Building Number</mat-label>
            <input matInput placeholder="Ex. 12A"  formControlName="buildingNumber">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Flat number</mat-label>
          <input matInput placeholder="Ex. Home" formControlName="flatNumber">
      </mat-form-field>
      <div class="row">
        <mat-form-field appearance="outline">
            <mat-label>Postal code</mat-label>
            <input matInput placeholder="43-300"  formControlName="zipCode">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>City</mat-label>
          <input matInput placeholder="Ex. Kraków" formControlName="city">
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field appearance="outline">
            <mat-label>Country</mat-label>
            <input matInput placeholder="Poland"  formControlName="country">
        </mat-form-field>
      </div>
    </div>
  </div>
  <div mat-dialog-actions class="action">
      <button mat-raised-button type="button" [mat-dialog-close]="false">Cancel</button>
      <button mat-raised-button color="primary" type="submit">{{data ? 'Update': 'Save'}}</button>
  </div>
</form>
